* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }
  @media (max-width: 1400px) {
    html {
      font-size: 87.5%; } }
  @media (max-width: 1100px) {
    html {
      font-size: 75%; } }
  @media (max-height: 860px) {
    html {
      font-size: 62.5%; } }
  @media (max-height: 580px) {
    html {
      font-size: 50%; } }

body {
  background-color: #b7c0c5;
  font-family: "Urbanist", sans-serif; }

@keyframes unlock-scroll {
  from {
    overflow: hidden; }
  to {
    overflow: visible; } }

@keyframes hide-left {
  from {
    left: 0; }
  to {
    left: -80vw;
    visibility: hidden; } }

@keyframes hide-right {
  from {
    right: 0; }
  to {
    right: -80vw;
    visibility: hidden; } }

@keyframes fade-in-fact-box {
  from {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none; }
  to {
    background-color: white; } }

@keyframes change-color {
  from {
    color: #000; }
  to {
    color: #fff; } }

@keyframes move-up {
  from {
    top: 50%; }
  to {
    top: 10%; } }

@keyframes fade-in-fact-number {
  0% {
    visibility: hidden; }
  1% {
    visibility: visible;
    transform: scale(2);
    opacity: 0.4; }
  10% {
    transform: scale(2.1);
    opacity: 0.6; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    visibility: hidden; }
  1% {
    visibility: visible;
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes resize-header {
  to {
    height: 85vh; } }

.intro-title {
  position: relative;
  top: 15%;
  font-size: 2.5rem;
  font-weight: 300;
  animation: fade-in 1s backwards 1s ease-in-out; }

.intro-subtitle {
  font-weight: 250;
  font-size: 2rem;
  animation: fade-in 1s backwards 0.5s ease-in-out; }

.pa-logo {
  height: 18.75rem; }

.ms-logo {
  height: 1.8rem;
  width: 1.8rem; }

.footer-logo {
  height: 10rem; }

.header-facts h1 {
  font-size: 4.5rem;
  color: #e21c1cda; }

.header-facts p {
  font-size: 2rem; }

.blue-bg {
  color: #fff;
  background-color: #3e78c2; }

.light-gray-bg {
  color: #000;
  background-color: #b7c0c5; }

.anim-image {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5vw 5vw;
  gap: 0; }
  .anim-image-left {
    justify-self: end; }
    .anim-image-left .anim-image-right {
      width: 70%;
      height: auto;
      margin-top: -1px; }
  .anim-image-right {
    justify-self: start;
    margin-left: -1px; }

.benefit-box {
  width: 20vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
  @media (max-width: 580px) {
    .benefit-box {
      width: auto;
      margin-bottom: 15px; } }

.video {
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .video-frame {
    width: 60vw;
    height: 32rem;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px; }
    @media (max-width: 1000px) {
      .video-frame {
        width: 90vw; } }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: 0.1s unlock-scroll forwards 4s; }

.flex {
  display: flex;
  align-items: center; }
  @media (max-width: 680px) {
    .flex {
      display: block; } }

.landing {
  color: #fff; }
  .landing-left {
    width: 50%;
    height: 100%;
    background-color: #3e78c2;
    position: fixed;
    z-index: 3;
    transition: cubic-bezier(1, 0, 0, 1);
    left: 0;
    animation: hide-left 2s forwards 2s; }
    .landing-left h1 {
      position: relative;
      width: fit-content;
      margin-left: auto; }
  .landing-right {
    width: 50%;
    height: 100%;
    background-color: #3e78c2;
    position: fixed;
    z-index: 3;
    transition: cubic-bezier(1, 0, 0, 1);
    right: 0;
    animation: hide-right 2s forwards 2s; }
    .landing-right h1 {
      left: 0; }
  .landing-logo-left {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-60%, -50%);
    z-index: 4; }
  .landing-logo-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 5; }

.header {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #b7c0c5;
  animation: resize-header 1s forwards 8s; }
  .header-slogan-one {
    position: relative;
    padding: 0 1rem;
    font-size: 2.8rem;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: change-color 2s forwards 2s, move-up 1s forwards 4s; }
  .header-slogan-two {
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: start;
    font-size: 2rem;
    animation: fade-in 1s backwards 7s; }
  .header-facts {
    position: relative;
    top: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vw 5vw;
    grid-template-rows: auto auto;
    padding: 5vw; }
    @media (max-width: 580px) {
      .header-facts {
        display: block;
        top: 3.5rem; } }
    .header-facts-one {
      padding: 1.25rem;
      margin-bottom: 1.25rem;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      animation: fade-in-fact-box 1s backwards ease-in-out 6s; }
      .header-facts-one-number {
        animation: fade-in-fact-number 1s backwards ease-in-out 4.5s; }
      .header-facts-one-text {
        animation: fade-in 1s backwards ease-in-out 5.5s; }
    .header-facts-two {
      padding: 1.25rem;
      margin-bottom: 1.25rem;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      animation: fade-in-fact-box 1s backwards ease-in-out 6.5s; }
      .header-facts-two-number {
        animation: fade-in-fact-number 1s backwards ease-in-out 5s; }
      .header-facts-two-text {
        animation: fade-in 1s backwards ease-in-out 6s; }
    .header-facts-three {
      padding: 1.25rem;
      margin-bottom: 1.25rem;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      animation: fade-in-fact-box 1s backwards ease-in-out 7s; }
      .header-facts-three-number {
        animation: fade-in-fact-number 1s backwards ease-in-out 5.5s; }
      .header-facts-three-text {
        animation: fade-in 1s backwards ease-in-out 6.5s; }

.main-section-one {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
  background-image: url("../Images/app_building.jpg"); }
  @media (max-width: 950px) {
    .main-section-one {
      background-size: contain; } }
  @media (max-width: 950px) {
    .main-section-one {
      background-image: url("../Images/app_building2.png"); } }

.main-section-two {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
  background-image: url("../Images/example1.png"); }
  @media (max-width: 950px) {
    .main-section-two {
      background-size: contain; } }
  @media (max-width: 950px) {
    .main-section-two {
      background-image: url("../Images/example2.png"); } }

.main-section-three {
  background-color: #b7c0c5;
  color: #000; }

.main-scroll {
  padding: 2rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
  @media (max-width: 950px) {
    .main-scroll {
      padding: 1.8rem 1rem; } }
  .main-scroll-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    padding: 1.25rem 2rem; }
    .main-scroll-title-sub {
      font-size: 1.7rem;
      padding-bottom: 10px; }
  .main-scroll-paragraph {
    font-size: 1.5rem; }
    .main-scroll-paragraph-sm {
      font-size: 1.25rem; }
  .main-scroll-image {
    height: 25rem;
    width: 28rem; }
    @media (max-width: 680px) {
      .main-scroll-image {
        width: 100%;
        height: auto; } }
  .main-scroll-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5vw 5vw;
    padding: 2vw; }
    @media (max-width: 580px) {
      .main-scroll-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 7px; } }
    .main-scroll-grid-one {
      grid-column-start: 1;
      grid-column-end: 2; }
    .main-scroll-grid-two {
      grid-column-start: 2;
      grid-column-end: 3; }
    .main-scroll-grid-three-one {
      grid-column-start: 3;
      grid-column-end: 4; }
  .main-scroll-flex {
    height: fit-content;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    flex-wrap: wrap; }
    @media (max-width: 680px) {
      .main-scroll-flex {
        gap: 15px; } }
    @media (max-width: 580px) {
      .main-scroll-flex {
        display: block; } }

.footer {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
  height: fit-content;
  background-color: #838b8f; }
  @media (max-width: 950px) {
    .footer {
      background-size: contain; } }
  .footer-logo {
    transition: 0.5s ease-in-out; }
    .footer-logo:hover {
      transform: scale(1.1); }
