// Colors
$color-red:#e21c1cda;
$color-black: #000;
$color-white: #fff;
$color-light-blue: rgba(62,120,194,1);
$color-light-gray: rgb(183, 192, 197);
$color-gray: rgb(131, 139, 143);

// Fonts
$font-urbanist: 'Urbanist', sans-serif;
$font-josefinSans: 'Josefin Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    @media (max-width: 1400px) {
        font-size: 87.5%;
    }
    @media (max-width: 1100px) {
        font-size: 75%;
    }
    @media (max-height: 860px) {
        font-size: 62.5%;
    }
    @media (max-height: 580px) {
        font-size: 50%;
    }
}

body {
    background-color: $color-light-gray;
    font-family: $font-urbanist;
}

// Mixins
@mixin main-image-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: table;
    @media (max-width: 950px) {
        background-size: contain;
    }    
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centering($topValue: 50%) {
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin shadowed-white-box {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 10px;
    background-color: $color-white;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@mixin box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin grid($cols, $rows) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-template-rows: repeat($rows,1fr);
    gap: 5vw 5vw;
}

@mixin half-of-screen {
    width: 50%;
    height: 100%;
    background-color: $color-light-blue;
    position: fixed;
    z-index: 3;
    transition: cubic-bezier(1, 0, 0, 1);
}

// Animations
@keyframes unlock-scroll {
    from {overflow: hidden;}
    to {overflow: visible;}
}

@keyframes hide-left {
    from {left: 0;}
    to {left: -80vw; visibility: hidden;}
}

@keyframes hide-right {
    from {right: 0;}
    to {right: -80vw; visibility: hidden;}
}

@keyframes fade-in-fact-box {
    from {background-color: rgba($color-white, 0); box-shadow: none;}
    to {background-color: rgba($color-white, 1)}
}

@keyframes change-color {
    from {color: $color-black;}
    to {color: $color-white;}
}

@keyframes move-up {
    from {top: 50%}
    to {top: 10%}
}

@keyframes fade-in-fact-number {
    0% {visibility: hidden;}
    1% {visibility: visible; transform: scale(2); opacity: 0.4;}
    10% {transform: scale(2.1); opacity: 0.6;}
    100% {transform: scale(1); opacity: 1;}
}

@keyframes fade-in {
    0% {visibility: hidden;}
    1% {visibility: visible; opacity: 0.1;}
    100% {opacity: 1;}
}

@keyframes resize-header {
    to {height: 85vh;}
}