.intro-title {
    position: relative;
    top: 15%;
    font-size: 2.5rem;
    font-weight: 300;
    animation: fade-in 1s backwards 1s ease-in-out;
}

.intro-subtitle {
    font-weight: 250;
    font-size: 2rem;
    animation: fade-in 1s backwards 0.5s ease-in-out;
}

.pa-logo {
    height: 18.75rem;
}

.ms-logo {
    height: 1.8rem;
    width: 1.8rem;
}

.footer-logo {
    height: 10rem;
}

.header-facts h1 {
    font-size: 4.5rem;
    color: $color-red;
}

.header-facts p {
    font-size: 2rem;
}

.blue-bg {
    color: $color-white;
    background-color: $color-light-blue;
}

.light-gray-bg {
    color: $color-black;
    background-color: $color-light-gray;
}

.anim-image {
    padding-top: 2rem;
    @include grid(2,2);
    gap: 0;
    &-left {
        justify-self: end;
        %img-part-position {
            width: 70%;
            height: auto;
            margin-top: -1px;
        }
    }
    &-right {
        justify-self: start;
        @extend %img-part-position;
        margin-left: -1px;
    }
}

.benefit-box {
    width: 20vw;
    background-color: $color-white;
    border-radius: 10px;
    padding: 15px;
    @include box-shadow;
    @media (max-width: 580px) {
        width: auto;
        margin-bottom: 15px;
    }
}

.video {
    padding: 4.5rem; 
    @include flex-center;
    &-frame {
        width: 60vw;
        height: 32rem;
        @include shadowed-white-box;
        padding: 5px; 
        @media (max-width: 1000px) {
            width: 90vw;
        }
    }
}