.introTitle {
    position: relative;
    top: 15%;
    font-size: 40px;
    font-weight: 300;
    animation: fadeIn 1s backwards 1s ease-in-out;

    @media (max-width: 1400px) {
        font-size: 35px;
    }
    @media (max-width: 1100px) {
        font-size: 32px;
    }
    @media (max-height: 580px) {
        font-size: 22px;
    }
}

.introSubTitle {
    font-weight: 250;
    font-size: 30px;
    animation: fadeIn 1s backwards 0.5s ease-in-out;

    @media (max-width: 1400px) {
        font-size: 25px;
    }
    @media (max-width: 1100px) {
        font-size: 22px;
    }
}

.pa-logo {
    height: 300px;

    @media (max-width: 1000px) {
        height: 250px;
    }
    @media (max-height: 580px) {
        height: 150px;
    }
}

.ms-logo {
    height: 22px;
    width: 22px;
}

.footer-logo {
    height: 150px;
    @media (max-width: 580px) {
        height: 100px;
    }
}

.header-facts h1 {
    font-size: 100px;
    color: $color-red;

    @media (max-width: 1400px) {
        font-size: 80px;
    }
    @media (max-width: 1100px) {
        font-size: 65px;
    }
    @media (max-width: 860px) {
        font-size: 45px;
    }
    @media (max-width: 580px) {
        font-size: 35px;
    }
}

.header-facts p {
    font-size: 30px;

    @media (max-width: 1400px) {
        font-size: 25px;
    }
    @media (max-width: 1100px) {
        font-size: 22px;
    }
    @media (max-width: 860px) {
        font-size: 20px;
    }
    @media (max-width: 580px) {
        font-size: 18px;
    }
}

.blue-bg {
    color: $color-white;
    background-color: $color-light-blue;
}

.light-gray-bg {
    color: $color-black;
    background-color: $color-light-gray;
}

.benefit-box {
    width: 20vw;
    background-color: $color-white;
    border-radius: 10px;
    padding: 15px;
    @include boxShadow;
    @media (max-width: 580px) {
        width: auto;
        margin-bottom: 15px;
    }
}

.video {
    padding: 70px; 
    @include flexCenter;
    &-frame {
        width: 60vw;
        height: 500px;
        @include shadowedWhiteBox;
        padding: 5px; 

        @media (max-width: 1000px) {
            width: 80vw;
            height: 450px;
        }
        @media (max-width: 860px) {
            width: 90vw;
            height: 450px;
        }
    }
}