html, body {
    height: 100%;
    width: 100%;
    // Temp. scroll lock for landing anim.
    overflow: hidden; 
    animation: 0.1s unlock-scroll forwards 4s;
}

.flex {
    display: flex;
    align-items: center;
    @media (max-width: 680px) {
        display: block;
    }
}

.landing {
    color: $color-white;
    &-left {
        @include half-of-screen;
        left: 0;
        animation: hide-left 2s forwards 2s;
        & h1 {
            position: relative;
            width: fit-content;
            margin-left: auto;
        }
    }
    &-right {
        @include half-of-screen;
        right: 0;
        animation: hide-right 2s forwards 2s;
        & h1 {
            left: 0;
        }
    }
    &-logo {
        &-left {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-60%, -50%);
            z-index: 4;
        }
        &-right {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            z-index: 5;
        }
    }
}

.header {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: $color-light-gray;
    animation: resize-header 1s forwards 8s;

    &-slogan {
        &-one {
            position:relative;
            padding: 0 1rem;
            font-size: 2.8rem;
            color: $color-white;
            @include centering;
            animation: 
                change-color 2s forwards 2s,
                move-up 1s forwards 4s;
        }
        &-two {
            color: $color-white;
            grid-column-start: 1;
            grid-column-end: 4;
            align-self: start;
            font-size: 2rem;
            animation: 
                fade-in 1s backwards 7s;
        }
    }

    &-facts {
        position: relative;
        top: 30%;
        @include grid(3,2);
        grid-template-rows: auto auto;
        padding: 5vw;

        @media (max-width: 580px) {
            display: block;
            top: 3.5rem;
        }
        &-one {
            @include shadowed-white-box;
            animation: fade-in-fact-box 1s backwards ease-in-out 6s;
            &-number {
                animation: fade-in-fact-number 1s backwards ease-in-out 4.5s;
            }
            &-text {
                animation: fade-in 1s backwards ease-in-out 5.5s;
            }
        }
        &-two {
            @include shadowed-white-box;
            animation: fade-in-fact-box 1s backwards ease-in-out 6.5s;
            &-number {
                animation: fade-in-fact-number 1s backwards ease-in-out 5s;
            }
            &-text {
                animation: fade-in 1s backwards ease-in-out 6s;
            }
        }
        &-three {
            @include shadowed-white-box;
            animation: fade-in-fact-box 1s backwards ease-in-out 7s;
            &-number {
                animation: fade-in-fact-number 1s backwards ease-in-out 5.5s;
            }
            &-text {
                animation: fade-in 1s backwards ease-in-out 6.5s;
            }
        }
    }
}

.main {
    &-section {
        &-one {
            @include main-image-bg;
            background-image: url("../Images/app_building.jpg");
            @media (max-width: 950px) {
                background-image: url("../Images/app_building2.png");
            }
        }
        &-two {
            @include main-image-bg;
            background-image: url("../Images/example1.png");
            @media (max-width: 950px) {
                background-image: url("../Images/example2.png");
            }
            
        }
        &-three {
            background-color: $color-light-gray;
            color: $color-black;
        }
    }

    &-scroll {
        padding: 2rem 5rem;
        @include box-shadow;
        @media (max-width: 950px) {
            padding: 1.8rem 1rem;
        }
        &-title {
            font-family: $font-josefinSans;
            font-size: 3rem;
            padding: 1.25rem 2rem;
            &-sub {
                font-size: 1.7rem;
                padding-bottom: 10px;
            }
        }
        &-paragraph {
            font-size: 1.5rem;
            &-sm {
                font-size: 1.25rem;
            }
        }
        &-image {
            height: 25rem;
            width: 28rem;
            @media (max-width: 680px) {
                width: 100%;
                height: auto;
            }
        }
        &-grid {
            @include grid(3,1);
            padding: 2vw;
            @media (max-width: 580px) {
                display: flex;
                flex-wrap: wrap;
                padding: 7px;
            }
            &-one {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &-two {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &-three {
                &-one {
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
            }
        }
        &-flex {
            height: fit-content;
            padding-top: 30px;
            display: flex;
            justify-content: center;
            gap: 3.125rem;
            flex-wrap: wrap;
            @media (max-width: 680px) {
                gap: 15px;
            }
            @media (max-width: 580px) {
                display: block;
            }
        }
    }  
}

.footer {
    @include main-image-bg;
    height: fit-content;
    background-color: $color-gray;
    &-logo {
        transition: 0.5s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}